{% load static %}

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>
  {% block title %}Crew Manager - Simplify Your HR and Crew Operations{% endblock %}
</title>
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700"
/>
<link
  rel="stylesheet"
  href="{% static 'crew_management/assets/plugins/global/plugins.bundle.css' %}"
/>
<link
  rel="stylesheet"
  href="{% static 'crew_management/assets/css/style.bundle.css' %}"
/>
<link
  rel="shortcut icon"
  href="{% static 'crew_management/assets/media/logos/favicon.ico' %}"
/>
